$txtBlanco: hsl(96, 71%, 99%);

$color-fondo: #EAF7E6;

$colorNegro: hsla(69, 100%, 3%, 0.932);
$negro-opaco: hsl(203, 69%, 5%);

$colorVerdeNutrixya: #28C76F;
$colorVerde: hsl(105, 41%, 57%);
$verde-fluo: hsl(122, 40%, 50%);
$verde-ruso: #60935D;
$verde-btn: hsl(105, 56%, 34%);

$marron-verde-oliva: #2F2504;
$colorMarron: #4e3d25;
$marron-claro: #72705B;
$marron-sillin: #813405;
$marron-bordo: #634133;
$marron-chocolate: #231C07;

$azul: royalblue;
$azul-oscuro: #1D293F;